<!DOCTYPE html>
{% load static  widget_tweaks  %}

<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    
    <!--Import Materialize-Stepper CSS -->


    <link rel="stylesheet" href="{% static "harvester/css/harvester.css" %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script>
    (function(a){_q=function(){return a;};$=function(f){typeof f==="function"&&a.push(arguments);return $;};jQuery=$.ready=$;}([]));
</script>
    <style>
    </style>

</head>

<body>

    <header>
        <nav class="top-nav ">
            <div class="nav-wrapper">
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>

            </div>

        </nav>

        <ul id="slide-out" class="side-nav fixed">
            <li><img style="margin-top:10%;margin-left:10%;width:80%" src="http://media2.marstorpsmat.se/2016/05/marstorpsmat_logotyp_svart.png" /></li>
                <li><a href="/harvester/deliveries"><i class="material-icons">present_to_all</i>Leveranser</a>
                <!--</li>
                <li class=""><a href="#!"><i class="material-icons">done</i>Skörd</a>
                </li>-->
                <li><a href="/harvester/customers"><i class="material-icons">assignment_ind</i>Kunder (under arbete)</a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>

                :





        </ul>
        {% include "harvester/delivery-new-modal.html" %}
    </header>
    <main>
        <div class="container">
        {% block main %}{% endblock %}
            </div>
    </main>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script>
(function(i,s,q,l){for(q=window._q(),l=q.length;i<l;){$.apply(this,s.call(q[i++]));}window.__q=undefined;}(0,Array.prototype.slice));
</script>

    <script>
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

        $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        }
    }
});
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
    </script>


    <script>
        // Initialize collapse button

        $(document).ready(function() {
            $(".button-collapse").sideNav();
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>


    {%block page_script %}


    {%endblock%}

</body>

</html>