
<div class="row">
    <div class="col s12 m12 l12">



        <div class="z-depth-5 card blue-grey lighten-5">
                <div id="progress_head" style="margin-top:0" class="progress">
        <div class="indeterminate"></div>
    </div>

            <div class="card-content ">
                <h1>Leverans till {{delivery.customer}}</h1>

                <form>
                    <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <input id="delivery-date" type="date" value="{{delivery.date|date:"Y-m-d"}}" class="delivery-date form-control"/>
                        <label class="active">Datum</label>
                    </div>

                    <div class="input-field col s12 m6 l6">
                        <input type="text" value="0" id="total_order_value" class="total-order-value form-control"/>
                        <label class="active">Total värde</label><!-- TODO: totalt värde för skörd -->
                    </div>

                        </div>
                </form>
        </div>
            </div>
        </div>
    </div>
{% if delivery.customer.category.type == "B" %}
<div class="row">
    <div class="col s12 m12 l12">
        <div class="z-depth-5 card blue-grey lighten-5">
            <div class="card-content ">

                <span class="card-title">Varianter kassar</span>

                <form method="POST" action="{% url 'delivery_variant_new' delivery.pk %}">
                    {%csrf_token%}
                    <div style="overflow-x:auto;">
                        <table class="" style="width:auto">
                            <thead>
                            <tr>
                                <th></th>
                                {% for v in variants %}
                                    <th><h4>{{v.name}}</h4></th>
                                {% endfor %}
                                <th>
                                    {% if not delivery.is_delivered %}


                                    <button type="submit"
                                       class="waves-effect waves-light btn"><i class="material-icons left">add</i></button>
                                    {% endif %}

                                </th>
                            </tr>
                            <tr>
                                <th></th>
                                {% for v in variants %}
                                    <th>
                                        <div class="input-field">
                                            <input {% if delivery.is_delivered %}
                                                       disabled
                                                       {% endif %} id="{{v.pk}}-count" class="box-count" type="number"
                                                   data-variant="{{v.variant.pk}}" value="{{v.variant.count}}"/><label
                                                for="{{v.pk}}-count">antal</label>
                                        </div>
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>


                            <!-- Kryssrutor -->
                            <tbody>
                            {% for di in delivery.deliveryitem_set.all %}
                                <tr>
                                    <td>
                                        <div
                                                style="text-overflow: ellipsis;  white-space: nowrap; overflow: hidden;width:3em">
                                            {{di.cropform.crop}}
                                        </div>
                                    </td>

                                    {% for v in di.variants %}
                                        <td>
                                            <input {% if delivery.is_delivered %}
                                                       disabled
                                                       {% endif %} {%if v.included %} checked {%endif%} data-variant="{{v.variant.pk}}"
                                                   data-deliveryitem="{{di.pk}}" class="included_checkbox filled-in"
                                                   id="checkbox_{{di.pk}}-{{v.variant.pk}}" type="checkbox"/><label
                                                for="checkbox_{{di.pk}}-{{v.variant.pk}}"></label>
                                        </td>
                                    {% endfor %}

                                </tr>
                            {%endfor%}
                            </tbody>



                            <tfoot>
                                <tr>
                                    <td></td>

                                    <!-- antal grödor-->
                                    {% for v in variants %}
                                        <td>
                                            <div class="input-field">
                                                <input disabled id="{{v.pk}}-count-crops"
                                                       data-variant="{{v.variant.pk}}"
                                                       class="crop-count"
                                                       type="number"

                                                       value="4"/>
                                                <label for="{{v.pk}}-count-crops">antal grödor</label>
                                            </div>
                                        </td>
                                    {%endfor%}


                                </tr>
                                <tr>
                                    <td></td>


                                    <!-- Värde -->
                                    {% for v in variants %}
                                        <td>
                                            <div class="input-field">
                                                <input class="value" disabled id="{{v.pk}}-value" type="text"
                                                       data-variant="{{v.variant.pk}}" value="4"/><label for="{{v.pk}}-value">Värde</label>
                                            </div>
                                        </td>
                                    {%endfor%}



                                </tr>


                            </tfoot>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% for v in variants %}
<script>
    $(document).ready (function(){
        reloadDeliveryVariant({{v.variant.pk}});
        })

</script>
{% endfor %}
{%endif%}

<div class="row">
    <div class="col s12 m12 l12">
        <div class="z-depth-5 card blue-grey lighten-5">
            <div class="card-content ">

                <span class="card-title">Visa</span>
                <form>
<div class="row">
    <div class="col s6">

                      <div class="switch">
    <label>
      Dölj
      <input checked id="show_completed" type="checkbox">
      <span class="lever"></span>
      Färdiga
    </label>
  </div>
</div>
    <div class="col s12 m6">
                      <div class="switch">
    <label>
      Dölj
      <input checked id="show_not_completed" type="checkbox">
      <span class="lever"></span>
      Ej färdiga
    </label>
  </div>
</div>
</div>

                </form>

                </div>
            </div>
        </div>
    </div>




