{% extends "harvester/base.html" %}
{% load static l10n placeholder widget_tweaks %}

{%block container-type %}container{%endblock%}
{% block title %}
{% if form.instance.pk %}
Leverans till {{form.instance}}
{% else %}
Ny leverans
{% endif %}
{% endblock %}
{% block content %}
<script>
    cropform_data = JSON.parse('{{cropform_data|safe}}');
</script>

    <!-- Modal för att skapa ny leverans -->
    <div  id="set_delivered_modal"  class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">


                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Marekera som levererad</h4>
                    <strong>Går ej att ångra - inga fler ändringar kan göras på beställningen efter detta.</strong>
                </div>

                <form method="post" action="{%url "delivery-setdelivered" delivery.pk %}">
                {%csrf_token%}
                <div class="modal-body">

                    <label>Leveransdatum</label>

                    <input name="date" class="form-control" type="date"/>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Markera som levererad</button>
                </div>
                </form>
            </div>
        </div>
    </div>




<!--
Dialog för att lägga till grödor
-->
<div class="modal fade" tabindex="-1" role="dialog" id="add_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="delivery" value="{{delivery.pk}}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Lägg till gröda i beställning</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gröda</label>
                                <select name="crop" id="crop-select" class="form-control">
                                    {% for crop in crops %}
                                        <option value="{{crop.pk}}">{{crop.name}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Form</label>
                                <select name="cropform" id="crop-form" class="form-control">

                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mängd</label>
                                <input name="amount" class="form-control" type="number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Enhet</label>
                                <select name="unit" id="units" class="form-control">


                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                    <button type="submit" class="btn btn-primary">Lägg till gröda</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Här börjar huvudsidan -->

<!-- Allmänn info -->

<script>
    {% if delivery.delivery_date %}
        var is_delivered=true
    {%else%}
        var is_delivered=false
    {%endif%}
</script>
<div class="row">
<div class="col-md-6">

<table class="table autowidth">



    <tr>
        <td>Kund:</td>
        <td>{{delivery.customer}}</td>
    </tr>
    <tr>
        <td>Måldatum:</td>
        <td><a href="#"
               class="editable"
               data-type="combodate"
               data-value="{{delivery.target_date|unlocalize}}"
               data-combodate="{maxYear:2017}"
               data-pk="{{delivery.pk}}"
               data-url="{%url "delivery_edit_target_date" %}"
            >
                {{delivery.target_date}}</a>

        </td>
    </tr>
</table>
</div>
<div class="col-md-6">
    {% if delivery.delivery_date %}
        <a href="{%url "delivery-spec" delivery.pk%}">Levererad {{delivery.delivery_date}}. Visa följsesedel</a>
    {%else%}
    <button type="button" data-toggle="modal" data-target="#set_delivered_modal"  class="btn btn-default">Markera som levererad</button>
    {%endif%}
</div>
</div>
<!-- Innehåll i leverans -->
<table id="deliveryitemtable" class=" responsive data-table  table autowidth">

    <thead>
        <tr>
            <td>Gröda</td>
            <td>Återstår</td>

            <td>Pris</td>
            {%if delivery.type == 'B' %}<td>Mängd totalt</td>{%endif%}
            <td>{%if delivery.type == 'B' %}Mängd / kasse {% else %}Mängd{%endif%}</td>
            {% if delivery.type == 'B' %}

                {% for v in variants %}
                    <td>{{v.name}}<br/>
                        <a href="#"
               class="editable"
               data-pk="{{v.variant.pk}}"
               data-value="{{v.variant.count}}"
               data-type="number"
               data-url='/harvester/ajax/delivery_variant_edit_count'
               data-name="delivery_variant_count"
               data-emptytext="avvikelser"
        ></a> st</td>
                {% endfor %}

            <td><a href="{% url 'delivery_variant_new' delivery.pk %}"> <span class="glyphicon glyphicon-plus"></span></a></td>

     <td>Värde/kasse</td>
               {% endif%}
                        <td>Värde beställt</td>
            <td>Värde skördat</td>
            <td>Önskemål</td>
            <td>Avvikelse</td>


            <td></td>
        </tr>

    </thead>



    {% for di in delivery.deliveryitem_set.all %}
    <tr data-pk="{{di.pk}}">
        <td><b>{{di.cropform.crop}}</b> ({{di.cropform}})</td>

        <td>


            <a data-id="{{i.pk}}"
               href="{%url "delivery-edit-harvests" di.pk request.get_full_path|urlencode:"" %}"
            >
                <span class="glyphicon glyphicon-download-alt"> </span>
                <span class="relation">
                    {{di.harvest_relation}}
                </span>
            </a>
        </td>


        <td><div class="price_state">
            <a
                    href="#"
                    class="editable price"
                    data-type="amount_and_unit"
                    data-pk="{{di.pk}}"
                    data-value="{'amount': '{{di.price}}','unit': '{{di.price_type}}'}"
                    {%if di.cropform.countable %}
                    data-units='{"W":"kr/kg","U":"kr/{{di.cropform.form_name}}" }'
                    {% else %}
                    data-units='{"W":"kr/kg" }'
                    {% endif %}
                    data-title="Ange pris"
                    data-name="price"
                    data-url='/harvester/ajax/delivery_item_edit_price'
            >

            </a>
            </div>
        </td>

{% if delivery.type == 'B' %}
        <td>
            <span class="total_order_amount">-</span>
        </td>
        {%endif%}
        <td>
            <a
                    href="#"
                    class="editable amount"
                    data-type="amount_and_unit"
                    data-pk="{{di.pk}}"
                    data-value="{'amount': '{{di.order_amount}}','unit': '{{di.order_unit}}'}"
                    {%if di.cropform.countable %}
                    data-units='{"W":"kg","U":"{{di.cropform.form_name}}" }'
                    {% else %}
                    data-units='{"W":"kg" }'
                    {% endif %}
                    data-title="Ange mängd"
                    data-url='/harvester/ajax/delivery_item_edit_amount'
            >
            </a>

        </td>
            {% if delivery.type == 'B' %}
                {% for v in di.variants %}
                    <td>
                        <a href="#"
               class="editable"
               data-pk="{{v.variant.pk}},{{di.pk}}"
               data-value="1" data-source="[{ value:{{v.included}},text:'{{v.name}}'}]"
               data-type="checklist"
               data-title="ingår i kasse"
               data-url='/harvester/ajax/delivery_variant_included'
               data-name="delivery_variant_included"
                           data-emptytext="-"
        ></a> </td>
                {% endfor %}

                    <td></td>
                                <td>
                <span class="box_value">0</span> kr
            </td>


            {% endif%}



        <td style="text-align:right">
            <span class="ordered_value">0</span> kr
        </td>


        <td style="text-align:right">
            <span class="harvested_value">0</span> kr
        </td>


        <td><a href="#"
               class="editable order_comment"
               data-pk="{{di.pk}}"
               data-value="{{di.order_comment}}"
               data-type="text"
               data-url='/harvester/ajax/delivery_item_edit'
               data-placeholder="önskemål"
               data-name="order_comment"
               data-emptytext="spec. önskemål"
        ></a>

        </td>

        <td><a href="#"
               class="editable delivery_comment"
               data-pk="{{di.pk}}"
               data-value="{{di.delivery_comment}}"
               data-type="text"
               data-url='/harvester/ajax/delivery_item_edit'
               data-placeholder="avvikelser"
               data-name="delivery_comment"
               data-emptytext="avvikelser"
        ></a>

        </td>

        <td> <a data-toggle="confirmation" data-title="Ta bort skörd?" data-href="{%url "delivery-item-delete" di.pk %}"> <span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>

    {%endfor%}
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {%if delivery.type == 'B' %}
            <td></td>
                {% for v in variants %}
                    <td>
                        <span id="box_sum_value-{{v.variant.pk}}"> </span> kr<br>
                        <span id="box_sum_count-{{v.variant.pk}}"></span> grödor
                    </td>
                {%endfor%}
            {%endif%}

            <td></td>
            <td></td>
            <td style="text-align:right"><span id="order_sum">0</span> kr</td>
            <td style="text-align:right"><span id="harvested_sum">0</span> kr</td>
        </tr>

    </tfoot>

</table>

<a href="#" data-toggle="modal" data-target="#add_modal">
    <span class="glyphicon glyphicon-plus"></span>Lägg till gröda i beställning</a>

<script src="{%static "harvester/js/pages/delivery-edit.js"%}"></script>





{% endblock %}