{% extends "harvester/base.html" %}
{% load static  widget_tweaks  %}
{% block navbar %}
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<a href="#" class="brand-logo"><i class="material-icons">present_to_all</i>Leveranser</a>

<ul id="dropdown1" class="dropdown-content">
    <li><a href="javascript:set_state_filter('all')">Visar alla status</a></li>
    <li class="divider"></li>
    <li><a href="javascript:set_state_filter('delivered')">Visar levererade</a></li>

    <li><a href="javascript:set_state_filter('not_delivered')">Visar ej levererade</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
    <li><a href="javascript:set_date_filter('all')">Visar alla datum</a></li>
    <li class="divider"></li>
    <li><a href="javascript:set_date_filter('present')">Visar närliggande</a></li>
</ul>

<ul class="right">
    <li><a class="dropdown-button" id="date_dropdown" href="#!" data-activates="dropdown2">Visa allar<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" id="state_dropdown" href="#!" data-activates="dropdown1">Visar alla<i class="material-icons right">arrow_drop_down</i></a></li>
</ul>



{% endblock %}

{% block main %}
  <div class="fixed-action-btn">
    <a href="#add_delivery_modal" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>

<script src="{% static "harvester/js/delivery-list.js" %}"></script>
    {% for delivery in object_list %}


          <div class="z-depth-1 delivery card
                {%if delivery.state == "D" %}green
                {%elif delivery.state == "P"%}orange
                {%else%}yellow  {%endif%}
          lighten-4"
            data-state="{{delivery.state}}"
            data-date="{{ delivery.date.isoformat }}"
          >
		        <div class="card__date">
                <span class="card__date__day">{{delivery.date|date:"d" }}</span>
                <span class="card__date__month">{{delivery.date|date:"M" }}</span>
              </div>
            <div class="card-content">
              <span class="card-title">{{delivery.customer}}</span>
			  Grödor:
			  <ul class="collapsible" data-collapsible="accordion">
                  {% for di in delivery.deliveryitem_set.all %}
                    <li>
                          <div class="
                          {%if di.state == "C" %}green
                          {%elif delivery.state == "P"%}yellow
                          {%else%}grey{%endif%}

                          lighten-5 collapsible-header"><span class="badge">{{di.order_amount}} {{di.order_unit_text_short}}</span>{{di.cropform.crop.crop}} </div>
                          <div class="
                                                    {%if di.state == "C" %}green
                          {%elif delivery.state == "P"%}yellow
                          {%else%}grey{%endif%}


                          collapsible-body lighten-5">


                            <div class="row">
                                <div class="col s5">
                                    pris
                                </div>
                                <div class="col s7">
                                    {{di.price|floatformat:0}}{{di.price_unit_text_short}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s5">
                                    värde
                                </div>
                                <div class="col s7">
                                    {% if di.state == "C" %}
                                        {{di.harvested_value}} kr
                                    {% else %}
                                        {{di.ordered_value|floatformat:0}} kr (prognos)
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s5">
                                    skördat
                                </div>
                                <div class="col s7">
                                    {{di.harvested_amount}} {{di.order_unit_text_short}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s5">
                                    återstår
                                </div>
                                <div class="col s7">
                                    {{di.harvest_remaining}} {{di.order_unit_text_short}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s5">
                                    önskemål
                                </div>
                                <div class="col s7">
                                    {{di.order_comment}}
                                </div>
                            </div>

                      </div>
                    </li>
                  {% endfor %}
  </ul>
              <p>Värde: {{delivery.total_order_value|floatformat:"0" }}kr {% if delivery.state != "D" %}(prognos){%endif%}</p>

            </div>
            <div class="card-action">
              <a class="btn-flat waves-effect waves-light"  href="{% url 'delivery-edit' delivery.id %}">Visa detaljer</a>
              {% if delivery.state != "D" %}
              <a class="btn-flat waves-effect waves-light" href="#set-delivered-modal-{{delivery.pk}}">Leverera!</a>
              {% else %}
              <a class="btn-flat waves-effect waves-light" href="{% url "delivery-spec" delivery.pk%}">Skriv ut följesedel</a>
              {% endif %}
            </div>
          </div>

    {%include "harvester/delivery-setdelivered-modal.html" with delivery=delivery %}


    {% endfor %}
{% endblock %}
