{% extends "harvester/base.html" %}
{% load static  widget_tweaks  %}
{% block navbar %}
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<a href="#" class="brand-logo"><i class="material-icons">present_to_all</i>Leverans till {{delivery.customer}} {{delivery.date}}</a>

<ul id="dropdown1" class="dropdown-content">
    <li><a href="javascript:set_state_filter('all')">Visar alla status</a></li>
    <li class="divider"></li>
    <li><a href="javascript:set_state_filter('delivered')">Visar levererade</a></li>

    <li><a href="javascript:set_state_filter('not_delivered')">Visar ej levererade</a></li>
</ul>


<ul class="right">
    <li><a class="dropdown-button" id="date_dropdown" href="#!" data-activates="dropdown2">Visa allar<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" id="state_dropdown" href="#!" data-activates="dropdown1">Visar alla<i class="material-icons right">arrow_drop_down</i></a></li>

</ul>



{% endblock %}

{% block main %}

        {% include "./delivery-edit-add-di-fragment.html" with crops=crops%}

        {% include "./box-variants-fragment.html" %}



<div class="section">


        {% for di in delivery.deliveryitem_set.all %}
            {% include "./delivery-item-fragment.html" with di=di %}
        {%endfor%}

    </div>



{%include "harvester/delivery-setdelivered-modal.html" with delivery=delivery %}
{% if not delivery.is_delivered %}

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="#add_di_modal">
      <i class="large material-icons">add</i>
    </a>

          <a class="btn-floating btn-large red" href="#set-delivered-modal-{{delivery.pk}}">
      <i class="large material-icons">done</i>
    </a>

      </div>
{%endif%}
{% endblock %}

{%block page_script %}
    <script src="{% static "harvester/js/harvest-chart.js" %}"></script>
<script src="{% static "harvester/js/delivery-edit.js" %}"></script>

<script>
    {% for di in delivery.deliveryitem_set.all %}
        f = changeHandler({{di.pk}})

        $("#price_unit-{{di.pk}}").on("input",f);
        $("#order_unit-{{di.pk}}").on("input",f);
        $("#order_amount-{{di.pk}}").on("input",f);
        $("#order_comment-{{di.pk}}").on("input",f);
        $("#price-{{di.pk}}").on("input",f);
    {% endfor %}





</script>
{%endblock%}