{% extends "harvester/base.html" %}
{% block content %}
{% include "harvester/harvest-item-modal.html" %}
<div class="container">
<div id="d-list">

    <table id="data-table" class="table" cellspacing="0" >
        <thead>
        <tr>
            <th style="width:10em">Kund</th>
            <th style="width:10em">Önskat leveransdatum</th>
            <th>Grödor</th>
            <th style="width:10em"></th>
        </tr>

        </thead>
        <tbody>
        {% for delivery in object_list %}

        <tr>

            <td class="customer"><a href="{% url 'delivery-edit' delivery.id %}">{{ delivery.customer}}</a></td>
            <td class="date">{{delivery.target_date}}</td>
            <td class="crop">
                {% for i in delivery.deliveryitem_set.all %}
                               {%if i.pk%}
<a class="btn btn-primary btn-sm" role="button" id="harvest-button-{{i.pk}}"
                            href="{%url "delivery-edit-harvests" i.pk request.get_full_path|urlencode:""  %}"                   >
{{i.cropform.crop.crop}} <span class="harvested">0</span>/<span class="target">0</span> <span class="unit">kg</span>
            </a>
                {%endif%}
                <script>
                {%if i.pk%}
                $( document ).ready(function() {
                    reload_harvest_button("harvest-button-{{i.pk}}");
                    })
                    {%endif%}
                </script>

                        {% endfor %}
            </td>
            <td>
                <div class="dropdown" >
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"">Ändra <span class="caret"></span></button></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Redigera leverans</a></li>
                            <li><a href="#">Markera som levererad</a></li>
                            <li><a href="#">Skriv ut följesedel</a></li>
                            <li><a href="#">Markera som levererad</a></li>
                            <li><a href="#">Ta bort leverans</a></li>
                        </ul>

                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>



$(document).ready(function() {
    $('#data-table').DataTable();

} );



</script>



    </div>
{% endblock %}