{% extends "harvester/base.html" %}
{% load l10n static  placeholder widget_tweaks %}
{% load widget_tweaks %}
{%block container-type %}container{%endblock%}
{% block main %}



{{view.deliveryitem.cropform.crop}} ({{ view.deliveryitem.cropform }}) till {{ view.deliveryitem.delivery.customer }} ({{ view.deliveryitem.delivery.date }})
<form method="post" action="">
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for err in form.non_field_errors %}
            <p class="form-error">{{ err }}</p>
            <!-- TODO: bättre felhantering -->
        {% endfor %}
    </div>
    {% endif %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% csrf_token %}


        <h4>Registrera skörd</h4>

                    <div class="row">

                         <div   class="col m4 s12">
                            <div style="height:200px;" name="modal_chart"></div>
                        </div>
</div>
  <div class="row">
                        <div class="input-field col m4">


                          {{form.weight|add_class:'form-control'}}{{form.weight.errors}}

                            <label class="">Vikt</label>
                        </div>
                        </div>
                        <div class="row">
                        <div class="count input-field col m4">
                            {{form.count|add_class:'form-control'}}

                            <label for="st" class="">Antal</label>
                        </div>
                        </div>
                        <div class="row">





                    </div>



                    <div class="row">
                        <div class="input-field col m4 s12">
<div class="mdl-selectfield">


                <!-- TODO: om det bara finns en kultur, använd den. -->
                {{form.culture|add_class:'mdl-select browser-default'}}


                            <label>Kultur</label>
                            </div>
                        </div>

                        <div class="input-field col m4 s12">
<div class="mdl-selectfield">


    {{form.culture_state|add_class:'mdl-select browser-default'}}


                            <label>Skördestatus</label>
                            </div>
                        </div>
                        <div class="input-field col m4 s12">

                            {{form.harvested_length|add_class:'form-control'}}


                            <label for="length" class="">Skördade meter</label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12">


            {{form.comment|add_class:'materialize-textarea'}} <label>
                Avvikelser/kommentar (ej till kund)
            </label>
                                </div>
                            </div>
                        </div>
                    </div>





    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <input id="save_harvest_item" class="btn-primary btn btn-block" type="submit"
                   value="{% if view.object.pk %}Ändra skörd{%else%}Lägg till skörd{%endif%}"/>

        </div>
    </div>
</form>


</div>
{%endblock%}

{%block page_script%}
<script>
    var result = JSON.parse('{{view.di_data|safe }}')
    console.log(result)
    $(document).ready(function(){
        updateModalChart();
    })
    </script>
    <script src="{% static "harvester/js/harvest-chart.js" %}"></script>
    <script src="{% static "harvester/js/add-harvest-modal.js" %}"></script>

{%endblock%}