{% include "./delivery-item-prev-harvests.html" with di=di %}

<li>
      <div class="collapsible-header lighten-3 {%if di.status == 0 %} grey
    {%elif di.status == 1 %}yellow
    {%elif di.status == 2 %}green
    {%else%}red {%endif%}">
          {{di.cropform.crop}} <span class="secondary-content"> {{di.order_amount}} {{di.order_unit_text_short}} </span></div>


    <div data-status="{{di.status}}" data-pk="{{di.pk}}" class="collapsible-body  delivery_item lighten-5
    {%if di.status == 0 %} grey
    {%elif di.status == 1 %}yellow
    {%elif di.status == 2 %}green
    {%else%}red {%endif%}
    ">
    <div id="progress_{{di.pk}}" style="margin-top:0" class="progress">
        <div class="indeterminate"></div>
    </div>


<div class="row">
    <div class="col s12">
        <div class="delivery_progress">


<div style="width:50%" class="first harvested_bar">
&nbsp;</div><div style="width:50%"  class="second">
&nbsp;
</div>
</div>
<div>
<div class="text-1">
<div class="amount">
20kg
</div><div class="desc">
skördat
</div></div><div class="text-2">
<div class="amount">
20kg
</div><div class="desc">
återstår
</div>



</div>

    </div>
        </div>



                        <div class="row ">
                            <div class="input-field col s3">
                                <input placeholder="Placeholder" name="order_amount" id="order_amount-{{di.pk}}"
                                       type="text" class="" value=""
                                {% if delivery.is_delivered %}
                                       disabled
                                       {% endif %}

                                >
                                <label for="order_amount-{{di.pk}}" class="active">Mängd</label>
                            </div>

                            <div class="input-field col s3">
                                <div class="mdl-selectfield">

                                    <select id="order_unit-{{di.pk}}" name="order_unit"
                                            class="mdl-select browser-default"

                                                                    {% if delivery.is_delivered %}
                                       disabled
                                       {% endif %}

                                    >
                                        <option value="W">kg</option>
                                        {% if di.cropform.countable %}
                                        <option value="U">st</option>
                                        {%endif%}
                                    </select>
                                </div>
                            </div>


 <div class="input-field col s3">
                                <input placeholder="Placeholder" name="price" id="price-{{di.pk}}" type="text" class=""
                                       value=""

                                                                {% if delivery.is_delivered %}
                                       disabled
                                       {% endif %}
                                >
                                <label for="price-{{di.pk}}" class="active">pris</label>

                            </div>
                            <div class="input-field col s3">
                                <div class="mdl-selectfield">
                                    <select id="price_unit-{{di.pk}}" name="price_unit"
                                            class="mdl-select browser-default"

                                                                            {% if delivery.is_delivered %}
                                       disabled
                                       {% endif %}
                                    >
                                        <option value="W">kr/kg</option>
                                        {% if di.cropform.countable %}
                                        <option value="U">kr/st</option>
                                        {%endif%}
                                    </select>
                                </div>


                            </div>
                            </div>

<div class="row">
    <div class="col offset-s6 s6">
        <div class="deep-orange-text no_price">
            ange pris!
        </div>

        <div class="price_status_missing">
            saknas i prislistan <a class="save_price_link">Spara till prislista</a>
        </div>
        <div class="deep-orange-text price_status_different">avviker från prislistans. <a class="reset_price_link" href="#">återställ <span class="listed_price"></span></a> <a class="save_price_link">Spara nytt pris</a></div>

    </div>

</div>

     <div class="row">
          <div class="input-field col s12">
                                    <input name="order_comment" id="order_comment-{{di.pk}}" type="text" value="...">
                                    <label for="order_comment-{{di.pk}}">Önskemål</label>
                                </div>
         </div>



</div>
{% if not delivery.is_delivered %}
                    <div class="card-action">

                        <a class="btn-flat waves-effect waves-light"  data-id="{{i.pk}}"
                   href="{%url "delivery-edit-harvests" di.pk request.get_full_path|urlencode:"" %}">

                        Registrera
                        skörd</a>

                    {% if di.harvestitem_set.all %}
                        <a class="btn-flat waves-effect waves-light"  href="#prev-harvest-modal-{{di.pk}}">Visa redan skördat </a>
                        {% endif %}
                    </div>
        {%endif%}
                    </div>















</li>