<div id="harvest-item-modal" class="modal fade">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="modal-title" class="modal-title">Skörd</h4>
            </div>
            <div class="modal-body">
                <div class="loader"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng utan att spara</button>
                <button type="submit" id="modal_submit" class="btn btn-primary">Spara ändringar</button>
            </div>
    </div>
</div>
</div>
<script>
btn_to_reload=null;
$('#harvest-item-modal').on('show.bs.modal', function (e) {
    var i = e.relatedTarget;
    btn_to_reload=i.id;
    var loadurl = i.dataset['loadUrl'];
    $(this).find('.modal-body').load(loadurl);
});

$('#harvest-item-modal').on('hidden.bs.modal', function (e) {
    reload_harvest_button(btn_to_reload)
})

$(document).ready(function () {
    $("#form2").on("submit", function(e) {

        return false;

    });

    $("#modal_submit").on('click', function() {

        var postData = $('#form2').serializeArray();
        var formURL = $('#form2').attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function(data, textStatus, jqXHR) {
                $('#harvest-item-modal').modal('hide');
                $('#contact_dialog .modal-header .modal-title').html("Result");
                $('#contact_dialog .modal-body').html(data);
                $("#submitForm").remove();
            },
            error: function(jqXHR, status, error) {
                console.log(status + ": " + error);
            }
        });

    });
});

</script>
