{% extends "harvester/base.html" %}
{% block content %}
<h1>Registrera skörd</h1>

<form action="{% url "harvest-new" %}" method="POST" class="uk-form uk-form-horizontal">
  {% csrf_token %}
<div class="uk-form-row">
<label class="uk-form-label">Gröda</label>{{ form.crop.errors }}

<div class="uk-form-controls">{{ form.crop }}</div>
  </div>

  <div class="uk-form-row">
<label class="uk-form-label">Kultur</label>  {{ form.culture.errors }}
<div class="uk-form-controls">{{ form.culture }}</div>
</div>

<div class="uk-form-row">
	<label class="uk-form-label">Leverans</label>{{ form.destination.errors}}<div class="uk-form-controls">{{ form.destination}}</div>
</div>


<div class="uk-form-row">
    <label class="uk-form-label">Form</label> {{form.cropform.errors}}<div class="uk-form-controls">{{form.cropform}}</div>
</div>



<div class="uk-form-row">
	<label class="uk-form-label">Antal</label>{{ form.count.errors}}<div class="uk-form-controls">{{ form.count}} </div>

</div>

<div class="uk-form-row">
	<label class="uk-form-label">Vikt</label>{{ form.weight.errors}}<div class="uk-form-controls">{{ form.weight}}<a href="#calculator" data-uk-modal class="uk-icon-justify uk-icon-calculator"></a></div>
</div>

<script>

ajax_populate_select('{% url 'harvest_new_cropform_for_deliveryitem'  %}', ['id_crop','id_destination'],'id_cropform');
ajax_populate_select('{% url 'harvest_new_cultures_for_crop' %}', ['id_crop'],'id_culture');
ajax_populate_select('{% url 'harvest_new_destinations_for_crop' %}', ['id_crop'],'id_destination');
</script>




<div class="uk-form-row">
	<label class="uk-form-label">Skördad längd</label>{{ form.harvested_length.errors}}<div class="uk-form-controls">{{ form.harvested_length }}</div>
</div>

<div class="uk-form-row">
	<label class="uk-form-label">Kulturen slutskördad?</label>{{ form.culture_is_done.errors}}<div class="uk-form-controls">{{ form.culture_is_done }}</div>
</div>

<div class="uk-form-row">
	<label class="uk-form-label">Dag</label>{{ form.time.errors}}<div class="uk-form-controls">{{ form.time}}</div>
</div>



<div class="uk-form-row">
	<label class="uk-form-label">Kommentar</label>{{ form.comment.errors}}<div class="uk-form-controls">{{ form.comment}}</div>
</div>



  <script>

  
  
    function addRow() {
	
  var a=document.getElementById("template");
	var cln=a.cloneNode(true);
	cln.id="";
	cln.style.visibility="visible";
	document.getElementById("weighttable").appendChild(cln);
	}

	function recalc() {
		function z(a) {
			return a.value==""
		}
		var c=document.getElementById("weighttable");
		var b= document.getElementById("weighttable").lastChild;
		var e=b.getElementsByClassName("weight");

		if (b.getElementsByClassName("weight")[0].value!=0 || b.getElementsByClassName("numbucket")[0].value!=0  || b.getElementsByClassName("bucket")[0].value!=0)
		addRow()
		
		var c=document.getElementById("weighttable");
		
		var t=document.getElementById("weighttable");
		var sum=0;
		var r=1;
while(row=t.rows[r++])
{



	sum+=row.cells[0].children[0].value-row.cells[1].children[0].value*row.cells[2].children[0].value

  
}
	document.getElementById('total').innerHTML=sum;


		
	}
  </script>
  <div class="uk-modal" id="calculator">
  <div class="uk-modal-dialog">
  <table id="weighttable">
<tr><th>Vikt (g)</th><th>antal behållare vägda</th><th>Behållare</th></tr>   
	<tr id="template" style="visibility:hidden">

	<td>
			<input onchange="recalc()" class="weight sum" type="number" min="0" step="1"/ pattern="\d*"/"/>
		</td>
		<td>
			<select class="numbucket" onchange="recalc()">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="2">3</option>
				<option value="2">4</option>
			</select>
		</td>
		<td>
			<select class="bucket" onchange="recalc()">
				<option value="0">-</option>
				<option value="1600">svart back, hög"</option>
				<option value="1000">lövkorg</option>
			</select>
		</td>
		
	</tr>
  </table>
  <div> Totalt:<span id="total">0g</span></div>
  <button href="" onclick="alert('test');">Använd beräkning</button>
  </div>
  </div>
  <script>
	addRow();
  </script>

  <input id="save_harvest_item" type="submit" value="Save" />
</form>
</div>
{% endblock %}

