        .card__date {
            background: #08c;
            position: absolute;
            top: 6px;
            right: 6px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            line-height: 12px;
            font-weight: bold;
            padding-top: 12px;
        }
        .card__date__day {
            display: block;
            font-size: 18px;
        }
        .card-action>a {
            white-space: nowrap;
        }
        .card__date__month {
            display: block;
            font-size: 8px;
            text-transform: uppercase;
        }
        header,
        main,
        footer {
            padding-left: 300px;
        }
        @media only screen and (max-width: 992px) {
            header,
            main,
            footer {
                padding-left: 0;
            }
        }
.delivery {
width:300px;
display:inline-block;
margin:11.5px;
vertical-align:top;
}