

.autowidth {
    width: auto !important;
}

.di-completed {
   text-decoration: line-through;
}

.di-progress {
    font-weight:bold;

}

.crop-list {
    padding:0;
    list-style-type: none;
}


.delivery {
    margin-bottom:20px;
}

input[type="checkbox"] {
    width:1em;
}


.editable-empty {
    color:#777; !important;
    border-bottom: dashed 1px #CCCCCC !important;
}

.pricetable {
    border-width:0 !important;
}




tr.cropstart>td {
    padding-bottom:5em !important;
    border-collapse:separate;
    border-collapse:separate;
    border-spacing:5em;
}

.order-item .order-amount {
    font-size:1.5em;
}

.order-item .crop {
    font-size:1.5em;
     font-weight:bold;
}

.order-item .cropform {
    font-size:1.5em;
    font-style:italic;
}


// Används för att minska padding
.gutter-10.row {
    margin-right: -5px;
    margin-left: -5px;
}

.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

.area {
margin:0;
display:inline-block;

text-align:center;
overflow:visible;
white-space : nowrap;
vertical-align:top;
}



.harvested>.marker {
	background-color:rgb(49, 112, 143);
	border:thin solid black;
}
.harvested-text {
    width:40%;
    display:inline-block;
}

.remaining-text {
       width:35%;
        display:inline-block;
}

.harvested_amount {

    font-weight:bold;
}

.remaining_amount {
    font-weight:bold;
}

.amount {
    font-weight:bold;
}

.remaining>.marker {
	//background-color:#a8314a;
	border:thin solid black;
}

.overflow>.marker {
	background-color:#a8314a;
	border:thin solid black;
}

.target>.marker {
	background-color:#000;
	margin-left:-1;
	width:2
}