        .card__date {
            background: #08c;
            position: absolute;
            top: 6px;
            right: 6px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            line-height: 12px;
            font-weight: bold;
            padding-top: 12px;
        }
        .card__date__day {
            display: block;
            font-size: 18px;
        }
        .card-action>a {
            white-space: nowrap;
        }
        .card__date__month {
            display: block;
            font-size: 8px;
            text-transform: uppercase;
        }
        header,
        main,
        footer {
            padding-left: 300px;
        }
        @media only screen and (max-width: 992px) {
            header,
            main,
            footer {
                padding-left: 0;
            }
        }

.delivery_item,
.delivery {
width:90%;
max-width:375px;
display:inline-block;
margin:11.5px;
vertical-align:top;
}

.select-wrapper input.select-dropdown{
-webkit-user-select:none !important;
-moz-user-select:none !important;
-ms-user-select:none !important;
-o-user-select:none !important;// latest Opera versions support -webkit-
user-select:none !important;
}


/* ==========  Select Field ========== */

/* Style Select Field */
.mdl-selectfield select {

}

/* Remove focus */
select:focus {
  outline: none}

/* Hide label */
.mdl-selectfield label {}
/* Use custom arrow */
.mdl-selectfield select {
  font-family: inherit;
  background-color: transparent; !important
  width: 100%;
  padding: 4px 0;
  font-size: 12
  color: #AAA;
  border: none;
  border-bottom: 1px solid #AAA;

}
.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
    &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid $select-border-color;
        pointer-events: none;
    }
}
.compact input {
    margin-bottom:5px;
}

.compact .row
{
    margin-bottom:15px;
}

.variant { color:#777; text-decoration:line-through }

.variant.included { color:#000; font-weight:bold;text-decoration:none;}

.autotable {
    width:auto;!important;
}

div.mdl-selectfield label {
    left:4px !important;
}

.add_cropform {
    display:none;
}

.pricerow:hover .add_cropform {
    display:inline;
}